<!DOCTYPE html>
<html lang="en">

<head>
    <style>
      
        #main{
            margin: 40px;
        }
       h2{
           color:deeppink
       }

    </style>
</head>


<body>
    <div id="h1N">
        <h1>About The Project</h1>
    </div>
    <div id="main">
        <div id="text">
            <p style="text-align:left">
            This project is written in the following languages: javascript, html and css.
            The model that is built according to it is a "single page" model
            On the home page you can see all the latest virtual coins, by clicking on the "More information" button you can see their value in currencies in euros, dollars and shekels.
            You can select up to five coins and go to the "Real Time Reports" page, on this page you can see the value of the coins in dollars at any given moment.
            </p>
            <br>
        </div>
        <div id="me">
            <h2 id = " h1m " style="text-align:left">About Me</h2>
            <p style="text-align:left">
                My name is Noy Green and I am 27 years old.
I graduated with a degree in Industrial Engineering and Management at "Shenkar" College, and am now studying Fullstack at "John Bryce". This project is my first project as a developer.
            </p>
        </div>
    </div>

</body>


</html>